<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397169543211-fpcjdl4trro8rrufm5c5am805m2l7ful.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397169543211-fpcjdl4trro8rrufm5c5am805m2l7ful</string>
	<key>API_KEY</key>
	<string>AIzaSyDFijc8xV9gYOc3rFn1DbKiUYIru1QYr-E</string>
	<key>GCM_SENDER_ID</key>
	<string>397169543211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robertcanton.stockraven</string>
	<key>PROJECT_ID</key>
	<string>stock-raven</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-raven.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397169543211:ios:dae5bd1dbd443bbc35026e</string>
	<key>DATABASE_URL</key>
	<string>https://stock-raven.firebaseio.com</string>
</dict>
</plist>